html, body {
    height: 100%;
}

.placeholder {
	text-align: center;
	position: relative;
    top: 50%;
    margin: -200px auto;
    white-space: nowrap;
}

.placeholderLogo {
	z-index: -1;
    position: relative;
}

.ericssonLogo {
	padding-right: 100px;
	height: 300px;
	width: 400px;
}

.apexLogo {
	height: 300px;
	width: 400px;
}