/* the div */
.showHideTextarea{
}

/* the textarea */
.showHideTextarea_hidden 
{
	display: none;
	width: 100%;
	font-size: 15px;
	height: 300px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

.showHideTextarea_displayed 
{
	display: block;
	width: 100%;
	font-size: 15px;
	height: 300px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
/*
.showHideTextarea_hidden textarea:focus
{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.showHideTextarea_displayed textarea:focus 
{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
*/
/* the button - show mode */
.showHideTextarea_show{
	display: block;
	width: 150px;
	font-size: 15px;
    background-color: #f6f6f6;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    list-style: none;
    cursor: pointer; 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

/* the button - hide mode */
.showHideTextarea_hide{
	display: block;
	width: 150px;
	font-size: 15px;
    background-color: #f6f6f6;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    list-style: none;
    cursor: pointer; 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}

/* the button - disabled */
.showHideTextarea_show_disabled{
	display: none;
}

.showHideTextarea_hide_disabled{
	display: none;
}
