<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<context-param>
		<param-name>config-file</param-name>
		<param-value>config/SampleDomain/RESTServerJsonEvent.json</param-value>
	</context-param>
	<context-param>
		<param-name>model-file</param-name>
		<param-value>models/SampleDomain/SamplePolicyModelJAVASCRIPT.json</param-value>
	</context-param>

	<listener>
		<listener-class>com.ericsson.apex.apps.servlet.ApexServletListener</listener-class>
	</listener>

   <servlet>
        <servlet-name>apex-apps.servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.ericsson.apex.plugins.event.carrier.restserver</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>apex-apps.servlet</servlet-name>
        <url-pattern>/apex/*</url-pattern>
    </servlet-mapping>
</web-app>
