<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ericsson.com/apex/auth/xtext/apexnotepad/ApexNotepad"
			class = "com.ericsson.apex.auth.xtext.apexnotepad.apexNotepad.ApexNotepadPackage"
			genModel = "model/generated/ApexNotepad.genmodel" />
	</extension>
</plugin>
